<html>

<head>
  {% if title %}
    <title>Dream Dog - {{ title }}</title>
  {% else %}
    <title>Welcome to Dream Dog!</title>
  {% endif %}
  <style>
  body {
    background-image: url("static/bg.jpg");
  }
  </style>
</head>

<body>

<center>
<img src="static/logo.png" width="150" height="150"/>
<a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=DreamDog%20Game&name=JandaHappyDay.ttf&size=54&style_color=15155E" alt="Fancy Fonts"></a>

<p>

<center>
<span style="font-family:century gothic, arial;">
<a href="Home">Home</a> | <a href="MakeaMatch">Make a Match!</a> | <a href="Game">Game</a> | <a href="ListofDogs">List of Dogs</a> | <a href="About">About</a> | <a href="Contact">Contact</a> 

<p>


