<html>

<head>
<title> Make a Match </title> 
<style>
body {
    background-image: url("static/bg.jpg");
}
</style>
</head> 

<body>

<center>
<img src="static/logo.png" width="150" height="150" />
<a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=Make%20a%20Match&name=JandaHappyDay.ttf&size=52&style_color=15155E" alt="Fancy Fonts"></a>
<br>

<span style="font-family:century gothic, arial;">
<a href="Home">Home</a> | <a href="MakeaMatch">Make a Match!</a> | <a href="Game">Game</a> 
| <a href="ListofDogs">List of Dogs</a> | <a href="About">About</a> | <a href="Contact">Contact</a>

<p>&nbsp;</p>

<p>

<style> 
.dreamdog {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;

    -webkit-column-rule: 5px outset #56A5EC; /* Chrome, Safari, Opera */
    -moz-column-rule: 5px outset #56A5EC; /* Firefox */
    column-rule: 5px outset #56A5EC;
}
</style>

<div class ="dreamdog">
<span style="font-family:century gothic, arial;"><b> Fill out the form below to find your match! 
</b>
<p>

<section class="matchform cf">  
<form name="match" action="index_submit" method="get" accept-charset="utf-8">  
    <ul>  

	<label for="personality">Choose your top 3 most wanted dog personalities!</label> 

	<p>

	Top 1: 

	<select>
  	<option>Curious</option>
  	<option>Friendly</option>
  	<option>Loyal</option>
	<option>Funny</option>
  	<option>Independent</option>
  	<option>Affectionate</option>
  	<option>Courageous</option>
	<option>Dignified</option>
  	<option>Intelligent</option>
  	<option>Energetic</option>
  	<option>Easygoing</option>
	<option>Playful</option>
  	<option>Confident</option>
	<option>Eager</option>
	<option>Alert</option>
  	<option>Protective</option>
	<option>Diligent</option>
	<option>Obedient</option>
	<option>Tough</option>
	<option>Remarkable</option>
	<option>Tenacious</option>
	<option>Noble</option>
	<option>Gentle</option>
	<option>Sassy</option>
	<option>Watchful</option>
	<option>Perceptive</option>
	<option>Patient</option>
	<option>Agile</option>
	<option>Outgoing</option>
	<option>Happy</option>
	<option>Dependable</option>
	<option>Gregarious</option>
	</select>

	<p>

	Top 2: 

	<select>
  	<option>Curious</option>
  	<option>Friendly</option>
  	<option>Loyal</option>
	<option>Funny</option>
  	<option>Independent</option>
  	<option>Affectionate</option>
  	<option>Courageous</option>
	<option>Dignified</option>
  	<option>Intelligent</option>
  	<option>Energetic</option>
  	<option>Easygoing</option>
	<option>Playful</option>
  	<option>Confident</option>
	<option>Eager</option>
	<option>Alert</option>
  	<option>Protective</option>
	<option>Diligent</option>
	<option>Obedient</option>
	<option>Tough</option>
	<option>Remarkable</option>
	<option>Tenacious</option>
	<option>Noble</option>
	<option>Gentle</option>
	<option>Sassy</option>
	<option>Watchful</option>
	<option>Perceptive</option>
	<option>Patient</option>
	<option>Agile</option>
	<option>Outgoing</option>
	<option>Happy</option>
	<option>Dependable</option>
	<option>Gregarious</option>
	</select>

	<p>

	Top 3: 

	<select>
  	<option>Curious</option>
  	<option>Friendly</option>
  	<option>Loyal</option>
	<option>Funny</option>
  	<option>Independent</option>
  	<option>Affectionate</option>
  	<option>Courageous</option>
	<option>Dignified</option>
  	<option>Intelligent</option>
  	<option>Energetic</option>
  	<option>Easygoing</option>
	<option>Playful</option>
  	<option>Confident</option>
	<option>Eager</option>
	<option>Alert</option>
  	<option>Protective</option>
	<option>Diligent</option>
	<option>Obedient</option>
	<option>Tough</option>
	<option>Remarkable</option>
	<option>Tenacious</option>
	<option>Noble</option>
	<option>Gentle</option>
	<option>Sassy</option>
	<option>Watchful</option>
	<option>Perceptive</option>
	<option>Patient</option>
	<option>Agile</option>
	<option>Outgoing</option>
	<option>Happy</option>
	<option>Dependable</option>
	<option>Gregarious</option>
	</select>
	<p> 

	<label for="size">What is your preferred dog size?</label> 
	
	<p>

	<select>
  	<option>Small</option>
  	<option>Medium</option>
  	<option>Large</option>
	</select>

	<p>
        
        <label for="lifestyle">How would you describe your lifestyle?</label> 

	<p>

	<select>
  	<option>Sedentary</option>
  	<option>Moderate</option>
  	<option>Active</option>
	</select> 

	<p>

	<label for="housing">What type of housing do you have?</label> 

	<p>

	<select>
  	<option>Apartment</option>
	<option>Patio</option>
 	<option>Either</option>
	</select>
	
	<p>

	<label for="climate">What is the climate of your location?</label>  

	<p>

        <select>
  	<option>Hot</option>
  	<option>Moderate</option>
  	<option>Cold</option>
	<option>Either</option>
	</select>
 
        <p>

	<input type="submit" value="Fetch!" color="#0101DF;"></li>  
    </ul>  
</form>  
</section>

<p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


</span>
</div>
</div>
</div>
</body> 
</html>